{% extends "GblSiteVitrineBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
<div id="login-form">
<h3>Login</h3>
	<fieldset>
		<form action="{{ path("fos_user_security_check") }}" method="post">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
		    
		    <input type="password" id="password" name="_password" required="required" />
		
		    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
		     <footer class="clearfix">
		    	<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
             </footer>
		</form>
	</fieldset>
</div>
{% endblock fos_user_content %}
