<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
	
		<!-- Bootstrap -->
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
		<script src="{{ asset('js/ie-emulation-modes-warning.js') }}"></script>
		<link href="{{ asset('css/bootstrap_carousel.css') }}" rel="stylesheet" media="screen">   
		<link href="{{ asset('css/kalisite_accueil.css') }}" rel="stylesheet" media="screen"> 
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />    
		{% block stylesheets %}{% endblock %}
	</head>
  
<body>

<!-- NAVBAR -->
<div class="navbar-wrapper">

	<div class="container">
	
		<div id="header-logo" class="row">
			<div class="col-md-3">
				<p><img class="featurette-image img-responsive" width="250px" heigth="100px" src="{% block logo %}{% endblock %}" alt="image" /></p>
			</div>
			<div class="col-md-3">
				<h2 id="slogan">{% block slogan %}{% endblock %}</h2>
			</div>
			<div class="col-md-2 col-md-offset-3 text-center">
				<p><br /><br />Panier : 0</p>
			</div>
			<div class="col-md-1 text-right">
				<p class="pull-right"><img class="featurette-image img-responsive" width="100px" heigth="100px" src="{{ asset('img/cart.png')}}" alt="image" /></p>
			</div>
		</div>
	
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
          			</button>
					<a class="navbar-brand" href="#">{% block title2 %}{% endblock %}</a>
        		</div>
        		<div class="navbar-collapse collapse">
          			<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Boutique <span class="caret"></span></a>
              				<ul class="dropdown-menu" role="menu">
              				{% for cat in categories %}
								<li><a href="categories/{{ cat.id }}">{{ cat.nom }}</a></li>
							{% endfor %}
							</ul>
            			</li>
						<li><a href="#contact">Vente privée</a></li>
          			</ul>
          			<ul class="nav navbar-nav navbar-right">
						<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
						<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
{# 						<li class="dropdown" id="menuLogin">#}
{# 			            	<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Connexion</a>#}
{# 			            	<div class="dropdown-menu" style="padding:17px;">#}
{# 								<form class="form" id="formLogin"> #}
{# 			                		<input name="username" id="username" placeholder="Username" type="text"> #}
{# 			                		<input name="password" id="password" placeholder="Password" type="password"><br>#}
{# 			                		<button type="button" id="btnLogin" class="btn">Login</button>#}
{# 			              		</form>#}
{# 			            	</div>#}
{# 			          	</li>#}
          			</ul>
        		</div>
			</div>
    	</div>

	</div>
</div>
<!-- FIN NAVBAR -->

<!-- CAROUSEL -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	
	<div class="carousel-inner">
		<div class="item active">
			<img class="featurette-image img-responsive" heigth="500px" width="1000px" src="{% block slider1 %}{% endblock %}" alt="First slide" />
			<div class="container">
				<div class="carousel-caption">
					<a href="{% block url_slider1 %}{% endblock %}"><img class="featurette-image img-responsive" heigth="500px" width="1000px" src="{{ asset('img/transparente.png')}}" alt="First slide" /></a>
				</div>
			</div>
		</div>
		
		<div class="item">
			<img class="featurette-image img-responsive" heigth="500px" width="1000px" src="{% block slider2 %}{% endblock %}" alt="Second slide" />
			<div class="container">
				<div class="carousel-caption">
					<a href="{% block url_slider2 %}{% endblock %}"><img class="featurette-image img-responsive" heigth="500px" width="1000px" src="{{ asset('img/transparente.png')}}" alt="Second slide" /></a>
				</div>
			</div>
		</div>
		<div class="item">
			<img class="featurette-image img-responsive" heigth="500px" width="1000px" src="{% block slider3 %}{% endblock %}" alt="Third slide" />
			<div class="container">
				<div class="carousel-caption">
					<a href="{% block url_slider3 %}{% endblock %}"><img class="featurette-image img-responsive" heigth="500px" width="1000px" src="{{ asset('img/transparente.png')}}" alt="Third slide" /></a>
				</div>
			</div>
		</div>
	</div>
	
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- FIN CAROUSEL -->

<!-- CONTENU -->

<div class="container marketing">

<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-9">
			<h2 class="featurette-heading"><span class="text-muted">TOP 10</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-3">
			<img class="featurette-image img-responsive" heigth="300px" width="300px" src="{{ asset('img/500x500.jpg')}}" alt="image" />
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-3">
			<img class="featurette-image img-responsive" heigth="300px" width="300px" src="{{ asset('img/googlemap.gif')}}" alt="image" />
		</div>
		<div class="col-md-9">
			<h2 class="featurette-heading"><span class="text-muted">Qui sommes-nous?</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-9">
			<h2 class="featurette-heading"><span class="text-muted">Vente privée</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-3">
			<img class="featurette-image img-responsive" heigth="300px" width="300px" src="{{ asset('img/500x500.jpg')}}" alt="image" />
		</div>
	</div>

	<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->




</div>
<!-- FIN CONTENU -->

<!-- FOOTER -->
<div id="footer">
      <div class="container">
        <p class="muted credit">Copyright <a href="#">Kali.fr</a></p>
      </div>
    </div>

<!-- FIN FOOTER -->

<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script> 
<script src="{{ asset('js/docs.js') }}"></script> 
<!-- Include all JavaScripts, compiled by Assetic -->   
{% block javascripts %}{% endblock %}

  </body>
</html>