{% extends '::produits.html.twig' %}

{% block produits %}
	{% for produit in produits %}
	<div class="col-sm-4 col-lg-4 col-md-4">
		<div class="thumbnail">
			<img src="http://localhost/kaliBackOffice/web/uploads/{{ produit.file_img }}" alt="">
				<div class="caption">
	            	<h4 class="pull-right">{{ produit.prix }} euros</h4>
	                <h4><a href="#">{{ produit.nom }}</a></h4>
	                <p>{{ produit.description }}</p>
				</div>
					<p>
	                	<a class="btn btn-default acheter" href="" role="button">Acheter</a>
	                    <a class="btn btn-default" href="../produits/{{ produit.reference }}" role="button">Details</a>
	                    <input type="hidden" class="reference" value="{{ produit.reference }}"/>
	                </p>
		</div>
	</div>
	{% endfor %}
{% endblock %}

{% block categories %}
	{% for categorie in categories %}
		<a href="{{ categorie.id }}" class="list-group-item">{{ categorie.nom }}</a>
	{% endfor %}
{% endblock %}

                         