{% extends '::panier.html.twig' %}

{% block breadcrumb %}
	<div class="container-fluid breadcrumbBox text-center">
		<ol class="breadcrumb">
			<li class="active"><a href="{{ path('panier.index') }}">Commande</a></li>
			<li><a href="{{ path('panier.achat') }}">Achat</a></li>
		</ol>
	</div>
{% endblock %}

{% block quantite %}
	<div class="col-md-5 col-sm-12">
		<div class="bigcart"></div>
		<h1>Votre panier</h1>
		<p>
			Nombre d'article : <span class="article">{{ quantite }}</span>
		</p>
	</div>
{% endblock %}

{% block commandes %}
	<div class="col-md-7 col-sm-12 text-left">
		<ul>
			<li class="row list-inline columnCaptions">
				<span>QTE</span>
				<span>Produits</span>
				<span>Prix</span>
			</li>
	{% for produit in commande %}
		<li class="row">
			<span class="quantity">1</span>
			<span class="itemName">{{ produit.nom }}</span>
			<span class="popbtn"><a class="arrow"></a></span>
			<span class="price">{{ produit.prix }}euros</span>
		</li>
	{% endfor %}
			<li class="row totals">
				<span class="itemName">Total:</span>
				<span class="price">{{ total }} euros</span>
				<span class="order"><a href="{{ path('panier.achat') }}" class="text-center">Acheter</a></span>
			</li>
		</ul>
	</div>
{% endblock %}

{% block edit %}
<div id="popover" style="display: none">
	<a href=""><span class="glyphicon glyphicon-pencil"></span></a>
	<a href=""><span class="glyphicon glyphicon-remove"></span></a>
</div>
{% endblock %}