{% extends '::base.html.twig' %}

{% block title %}
Vente privée - {{ theme.titre }}
{% endblock %}

{% block logo %}
http://back.kali.com/uploads/themes/{{ theme.logo }}
{% endblock %}

{% block slogan %}
{{ theme.slogan }}
{% endblock %}

{% block title2 %}
{{ theme.titre }}
{% endblock %}

{% block contenu %}

{% for p in produits %}
<div class="row featurette">
	<div class="col-md-6 text-center">
		<h2 class="featurette-heading"><span class="text-muted">{{ p.nom }}</span></h2>
		<img heigth="200px" width="200px" src="{{ asset('http://back.kali.com/uploads/' ~ p.file_img)}}" alt="{{ p.nom }}" />
		<p class="lead">
		</p>
	</div>
	<div class="col-md-6">
		<p class="lead">
		<strong>Référence : </strong>{{ p.reference }}<br />
		<strong>Prix : </strong>{{ p.prix }}<br />
		<strong>Poids : </strong>{{ p.poids }}<br />
		<strong>Dimensions : </strong>{{ p.dimensions }}<br />
		<strong>Stock : </strong>{{ p.stock }}<br />
		<strong>Description : </strong>{{ p.description }}<br />
		</p>
		<p>
		<a href="{{ path('produits.index', {'reference': p.reference}) }}"><button type="button" class="btn btn-primary">Acheter</button></a>
		</p>
	</div>
</div>
<hr class="featurette-divider">
{% endfor %}

{% endblock %}